/* -- MAIN -- */

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  left:0;
}

body {
  background:#f6f6f6;
  color:#4a4235;
  width:100%;
  height:100%;
}

/* -- Header -- */

#hPageHeader {
  width:100%;
  background:#fff;
  -moz-box-shadow:    2px 2px 5px 2px #ccc;
  -webkit-box-shadow: 2px 2px 5px 2px #ccc;
  box-shadow:         2px 2px 5px 2px #ccc;
  position:absolute;
  top:0;
  left:0;
}

.header {
  width:970px;
  position:relative;
  margin:0 auto;
}


/* -- Home -- */
.body-wrapper {
  padding:20px;
  width:970px;
  margin:70px auto 0;
}

#debug {
  padding:20px;
  width:970px;
  margin:0 auto;
}


.ammoContainer {
  width:100%;
  height:100%;
  border:1px white;
}

.ammoCrop {
  width:100%;
  height:100%;
  overflow:hidden;
  transition: all 0.25s ease;
}

@-moz-keyframes rainbow {
  from {
    background-position:top right;
  }
  to {
    background-position:top left;
  }
}
@-webkit-keyframes rainbow {
  from {
    background-position:top right;
  }
  to {
    background-position:top left;
  }
}
@-o-keyframes rainbow {
  from {
    background-position:top right;
  }
  to {
    background-position:top left;
  }
}
@-ms-keyframes rainbow {
  from {
    background-position:top right;
  }
  to {
    background-position:top left;
  }
}

.ammoBG {
  width:100%;
  height:100%;
  background: linear-gradient(90deg, #ff0000 5%, #ff1500 12%, #ff00cc 19%, #ff00b7 26%, #8800ff 33%, #6600ff 40%, #0099ff 47%, #00ccff 54%, #00ff66 61%, #00ff00 68%, #e1ff00 75%, #ffff00 82%, #ffa200 89%, #f77f00 96%, #ff0000 100%);
  -moz-animation: rainbow 2.5s forwards linear infinite;
  -webkit-animation: rainbow 2.5s forwards linear infinite;
  -o-animation: rainbow 2.5s forwards linear infinite;
  -ms-animation: rainbow 2.5s forwards linear infinite;
  animation:dayrainbow 2.5s forwards linear infinite;
  background-size:50% auto;
}
